<div class="relative w-full h-[60vh] overflow-hidden">
    <video autoplay loop muted playsinline class="absolute top-0 left-0 w-full h-full object-cover z-0">
        <source src="https://henkelman.com/themes/henkelman/assets/video/henkelman-wave.mp4" type="video/mp4" />
    </video>

    <div class="relative z-10 flex flex-col items-center justify-center h-full px-4 text-center gap-4 bg-black/40">
        <h1 class="text-white text-3xl md:text-6xl font-bold drop-shadow-lg">
            Más sobre Quickpack Perú S.A.C.
        </h1>
        <h3 class="text-white text-lg md:text-lg font-semibold drop-shadow-lg max-w-3xl">
            Líder comercial de las máquinas de envasado al vacío
        </h3>
    </div>
</div>

<section class="bg-white py-8 px-4 md:px-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 items-center">
        <div class="space-y-5 px-4">
            <h4 class="text-3xl font-bold mb-2 text-balance">Líder en la tecnología de envasado al vacío</h4>
            <p class="text-gray-700 text-balance">
                Gracias al liderazgo en la tecnología de vacío, Henkelman se diferencia del resto por disponer del
                programa más amplio y variado en alimentos de envasado al vacío y otros productos.
            </p>
            <p class="text-gray-700 text-balance">
                Las máquinas son “Made in Holland”. Y eso salta a la vista. Combinan un diseño limpio y funcional
                con una facilidad óptima de uso y una vida útil larga. La instalación es simplemente “plug & pack” y
                gracias a su ingeniosa construcción la higiene siempre queda garantizada.
            </p>
            <p class="text-gray-700 text-balance">
                Su máquina tendrá una entrega rápida. Henkelman dispone de una red extensa de distribuidores
                cualificados en todo el mundo. Esta red garantiza la solidez de un servicio personalizado y una
                respuesta rápida y eficiente a todas sus preguntas.
            </p>
        </div>
        <div class="hidden md:flex justify-center items-center p-6">
            <img src="Carrusel_Inicio/Maquinarias.jpg" alt="Maquinarias"
                class="rounded-lg shadow-md object-contain max-h-[400px]" />
        </div>
    </div>
</section>

<section class="bg-white py-8 px-4 md:px-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 items-center">
        <div class="hidden md:flex justify-center items-center p-6">
            <img src="Carrusel_Inicio/Maquinarias.jpg" alt="Maquinarias"
                class="rounded-lg shadow-md object-contain max-h-[400px]" />
        </div>
        <div class="space-y-5 px-4">
            <h4 class="text-3xl font-bold mb-2 text-balance">Nuestra misión</h4>
            <p class="text-gray-700 text-balance">
                Estámos en una misión. Para difundir la palabra. Que la tecnología de envasado al vacío contribuye a
                la calidad y protección de productos. Que reduce el desperdicio. Y que es una herramienta
                inteligente para ahorrar dinero. Hay una máquina de envasado al vacío para cada profesional, para
                cada demanda, para cada mercado y para cada aplicación. Aquí nuestra manera de lograr nuestra
                misión.
            </p>
            <ul class="list-disc pl-6 text-gray-700 space-y-1">
                <li>Asociaciones estratégicas y estrechas con los principales actores de la industria</li>
                <li>Presencia mundial en ferias y exposiciones</li>
                <li>Soporte integral en marketing, ventas y servicio técnico (formación, materiales)</li>
                <li>Enfoque continuo en innovaciones tecnológicas</li>
                <li>Cobertura completa en la web mundial</li>
                <li>Demostración de tanto nuestra gama completa de máquinas de envasado al vacío como las posibles
                    aplicaciones para numerosos sectores e industrias</li>
            </ul>
        </div>
    </div>
</section>

<section class="bg-white py-8 px-4 md:px-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 items-center">
        <div class="space-y-5 px-4">
            <h4 class="text-3xl font-bold mb-2 text-balance">Nuestra visión</h4>
            <p class="text-gray-700 text-balance">
                Somos una empresa que se preocupa por sus necesidades de embalaje individuales, por la calidad y
                servicio que suministramos y por sus negocios. Se preocupa por el desarrollo personal de nuestros
                profesionales y por el medio ambiente.
            </p>
            <p class="text-gray-700 text-balance">
                También somos una empresa con un único enfoque. Desarrollamos y fabricamos máquinas de envasado al
                vacío. Porque hacemos lo que mejor hacemos.
            </p>
            <p class="text-gray-700 text-balance">
                Somos una empresa que cree que todo profesional necesita una Henkelman. Así que no descansamos hasta
                que el mundo entero confíe en nuestros equipos.
            </p>
            <p class="text-gray-700 text-balance">
                Y por último, somos una empresa sostenible. Pensamos en asociaciones a largo plazo, hacemos
                inversiones estratégicas y elegimos soluciones sostenibles. Con respeto por las personas y el
                planeta.
            </p>
            <p class="text-gray-700 text-balance">
                Esto es Henkelman. Su socio de envasado al vacío.
            </p>
        </div>
        <div class="hidden md:flex justify-center items-center p-6">
            <img src="Carrusel_Inicio/Maquinarias.jpg" alt="Maquinarias"
                class="rounded-lg shadow-md object-contain max-h-[400px]" />
        </div>
    </div>
</section>