<div class="relative w-full h-[60vh] overflow-hidden">
    <video autoplay loop muted playsinline class="absolute top-0 left-0 w-full h-full object-cover z-0">
        <source src="https://henkelman.com/themes/henkelman/assets/video/henkelman-wave.mp4" type="video/mp4" />
    </video>

    <div class="relative z-10 flex flex-col items-center justify-center h-full px-4 text-center gap-4 bg-black/40">
        <h1 class="text-white text-3xl md:text-6xl font-bold drop-shadow-lg">
            Tecnología de envasado al vacío
        </h1>
        <h3 class="text-white text-lg md:text-lg font-semibold drop-shadow-lg max-w-3xl">
            En Quickpack Perú S.A.C. ofrecemos soluciones integrales de empaque al vacío que garantizan la conservación,
            frescura y protección de una amplia variedad de productos. Contamos con maquinarias y materiales adaptados a
            las necesidades específicas de cada cliente, brindando eficiencia, calidad y respaldo en cada proceso de
            envasado.
        </h3>
    </div>
</div>

<section class="bg-white py-8 px-4 md:px-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 items-center">
        <div
            class="w-full bg-black text-center flex flex-col justify-center items-center p-6 shadow-md h-full space-y-4">
            <h3 class="text-4xl font-bold text-gray-300">Sistemas de control</h3>
            <p class="text-white max-w-lg text-balance">
                Controlar el ciclo de envasado al vacío es esencial para lograr un sellado profundo y eficiente. En
                Quickpack Perú S.A.C., ofrecemos tecnología avanzada que permite gestionar el proceso de envasado de
                diversas maneras, garantizando resultados precisos y de alta calidad.
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 text-center py-6 px-4">
            <div class="flex flex-col items-center space-y-2">
                <img src="Carrusel_Inicio/reloj.png" alt="Icono 1" class="h-20 object-contain mb-2" />
                <h4 class="text-lg font-bold">Control de tiempo</h4>
                <p class="text-gray-700 text-balance">Se detiene tan pronto como se alcanza el número de segundos.</p>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <img src="Carrusel_Inicio/porcentaje.png" alt="Icono 2" class="h-20 object-contain mb-2" />
                <h4 class="text-lg font-bold">Control de sensor</h4>
                <p class="text-gray-700 text-balance">El sensor detecta el porcentaje preestablecido de vacío final.</p>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <img src="Carrusel_Inicio/liquido.png" alt="Icono 3" class="h-20 object-contain mb-2" />
                <h4 class="text-lg font-bold">Control de líquido</h4>
                <p class="text-gray-700 text-balance">El sensor de líquido detecta el punto de ebullición de los
                    líquidos.</p>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <img src="Carrusel_Inicio/panel.png" alt="Icono 4" class="h-20 object-contain mb-2" />
                <h4 class="text-lg font-bold">Panel de control</h4>
                <p class="text-gray-700 text-balance">Elegir el panel y el sistema de control adecuados para su
                    aplicación.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-8 px-4 md:px-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 items-center">
        <div class="hidden md:flex justify-center items-center p-6">
            <img src="Carrusel_Inicio/Lechuga.jpg" alt="Imagen lechuga"
                class="rounded-lg shadow-md max-h-[400px] object-contain" />
        </div>

        <div class="space-y-4 px-4">
            <h4 class="text-lg text-gray-500">ENVASADO EN ATMÓSFERA MODIFICADA (MAP)</h4>
            <h4 class="text-4xl font-bold text-gray-800">Inyección de gas</h4>
            <p class="text-gray-700 text-balance">
                Previo a la fase de sellado, es posible agregar un gas o nitrógeno. Esta técnica es denominada
                Envasado en Atmósfera Modificada (MAP, por sus siglas en inglés). La mezcla adecuada de gases
                depende del tipo de producto alimenticio. La opción de Inyección de gas ofrece muchos beneficios.
            </p>
            <ul class="list-disc pl-6 text-gray-700 space-y-1">
                <li>Mayor vida útil</li>
                <li>Protección de la estructura</li>
                <li>Preservación de la calidad</li>
                <li>Prevención de coloración</li>
            </ul>
        </div>
    </div>
</section>

<section class="bg-white py-8 px-4 md:px-12">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-8 items-center">
        <div class="hidden md:flex justify-center items-center p-6">
            <img src="Carrusel_Inicio/Carne.jpg" alt="Imagen carne"
                class="rounded-lg shadow-md max-h-[400px] object-contain" />
        </div>

        <div class="space-y-4 px-4">
            <h4 class="text-lg text-gray-500">ADECUADO PARA LOS PRODUCTOS AFILADOS</h4>
            <h4 class="text-4xl font-bold text-gray-800">Soft Aire</h4>
            <p class="text-gray-700 text-balance">
                Una vez que el ciclo de envasado al vacío ha sido completado y la bolsa de vacío ha sido sellada, se
                introduce aire dentro de la cámara. Tan pronto como la presión atmosférica interna equipara la
                presión fuera de la cámara, la tapa se abre. Al utilizar Soft Aire, el aire es devuelto a la cámara
                de manera gradual y cuidadosa. De manera controlada, la bolsa de vacío envuelve al producto. Para
                protección óptima de tanto el producto como de la máquina.
            </p>
            <ul class="list-disc pl-6 text-gray-700 space-y-1">
                <li>Protección del producto y la bolsa</li>
                <li>Estándar en todos los modelos, excepto Jumbo, Falcon y Atmoz</li>
            </ul>
        </div>
    </div>
</section>