<div class="bg-gray-100 py-10">
    <h2 class="text-3xl font-bold text-center text-red-700 mb-10 text-balance">
        Videos de Quickpack Perú
    </h2>

    <div class="grid gap-8 px-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 max-w-7xl mx-auto">
        <div *ngFor="let video of videos"
            class="bg-white rounded-2xl shadow-md overflow-hidden transform transition-all hover:scale-[1.02] hover:shadow-xl hover:ring-2 hover:ring-red-300">
            <div class="relative w-full aspect-video bg-black">
                <iframe width="560" height="315" [src]="this.getVideoUrl(video.url)" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="p-4 flex flex-col justify-between h-40">
                <h3 class="text-gray-800 font-semibold text-lg line-clamp-2 text-balance">
                    {{ video.titulo }}
                </h3>
                <p class="text-gray-600 text-sm mt-2 line-clamp-3 text-balance" [title]="video.descripcion">
                    {{ video.descripcion || 'Sin descripción' }}
                </p>
            </div>
        </div>
    </div>
</div>