<div class="bg-white p-6 rounded-2xl shadow-md w-full max-w-screen-xl mx-auto">
    <section>
        <h1 class="text-2xl font-bold text-gray-800">Tipo de Producto</h1>
        <hr class="my-3 border-gray-300" />
    </section>

    <div class="mt-5 grid grid-cols-1 sm:grid-cols-6 gap-4 items-end">
        <div class="sm:col-span-4">
            <form class="mt-2" [formGroup]="formulario">
                <label for="first-name" class="block text-sm font-medium text-gray-900">Nombre</label>
                <input id="first-name" type="text" name="first-name" autocomplete="given-name" formControlName="nombre"
                    class="block w-full rounded-md px-3 py-2 text-sm text-gray-900 placeholder:text-gray-400 border border-gray-300 focus:border-red-400 focus:ring focus:ring-red-300 focus:ring-opacity-50" />
            </form>
        </div>

        <div class="sm:col-span-2 flex items-end">
            <button (click)="ObtenerTipoProducto()"
                class="w-full sm:w-auto px-4 py-2 rounded-lg bg-red-700 text-white font-medium shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-1 transition">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="mt-4 flex justify-end">
        <button (click)="abrirModalAgregarEditar()"
            class="px-4 py-2 rounded-lg bg-red-700 text-white font-medium shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-1 transition">
            <i class="bi bi-plus"></i> Agregar
        </button>
    </div>

    <div class="mt-5 overflow-x-auto">
        <table
            class="min-w-full border border-gray-200 divide-y divide-gray-200 rounded-lg shadow-md text-xs sm:text-sm">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-3 text-left font-semibold text-gray-700 uppercase tracking-wider">Nr.</th>
                    <th class="px-4 py-3 text-left font-semibold text-gray-700 uppercase tracking-wider">Id</th>
                    <th class="px-4 py-3 text-left font-semibold text-gray-700 uppercase tracking-wider">Nombre</th>
                    <th class="px-4 py-3 text-left font-semibold text-gray-700 uppercase tracking-wider">Descripción
                    </th>
                    <th class="px-4 py-3 text-left font-semibold text-gray-700 uppercase tracking-wider">Estado</th>
                    <th class="px-4 py-3 text-center font-semibold text-gray-700 uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let tipoProducto of tipoProductos; let i = index" [ngClass]="{ 'bg-gray-50': i % 2 === 0 }">
                    <td class="px-4 py-3 whitespace-nowrap">{{ i + 1 }}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{ tipoProducto.id }}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{ tipoProducto.nombre }}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{ tipoProducto.descripcion.slice(0, 50) }}</td>
                    <td class="px-4 py-3 whitespace-nowrap">{{ tipoProducto.estado }}</td>
                    <td class="px-4 py-3 whitespace-nowrap text-center">
                        <div class="inline-flex rounded-md shadow-sm" role="group">
                            <button type="button" (click)="abrirModalAgregarEditar(tipoProducto.id)"
                                class="px-3 py-2 text-sm font-medium text-white bg-red-600 rounded-l-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" (click)="CambiarEstado(tipoProducto.id)" [ngClass]="{
                  'bg-green-600 hover:bg-green-700 focus:ring-green-400': tipoProducto.estado === 'INACTIVO',
                  'bg-red-600 hover:bg-red-700 focus:ring-red-400': tipoProducto.estado === 'ACTIVO'
                }" class="px-3 py-2 text-sm font-medium text-white rounded-r-lg focus:outline-none focus:ring-2">
                                <i *ngIf="tipoProducto.estado === 'ACTIVO'; else reciclar" class="bi bi-trash"></i>
                                <ng-template #reciclar>
                                    <i class="bi bi-arrow-clockwise"></i>
                                </ng-template>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-paginacion [totalPages]="totalPaginas" [currentPage]="pagina" [total]="total"
            (pageChange)="Paginar($event)"></app-paginacion>
    </div>
</div>

<app-agregar-editar-tipo-producto [isOpen]="modalAbiertoAgregarEditar" (close)="cerrarModalAgregarEditar()"
    [idTipoProducto]="idTipProductoSeleccionado"></app-agregar-editar-tipo-producto>